<div class="container">
    <div class="inner">
        <form  #loginForm="ngForm">
        <div class="form-group">
            <label class="form-label">username:</label>
            <input name="username" class="form-control" type="text" placeholder="user@gmail.com" [(ngModel)]="username">
        </div> 
        <div class="form-group">
            <label class="form-label">password:</label>
            <input name="password" class="form-control" type="password" [(ngModel)]="password">
        </div>
        <button class="btn btn-primary" style="margin-left: 30%; margin-top: 10px;" (click)="login()">Connect</button>
        <br/>
        <small style="margin-left: 40%;" (click)="navigateToRegister()" >Sign Up</small>
        </form>
    </div>
</div>