
  <div class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
    <!-- Main content area -->
    <div class="flex-grow-1">
      <!-- Your main content goes here -->
    </div>
  
    <!-- Buttons container -->
    <div class="position-fixed bottom-0 end-0 mb-3 me-3 d-flex flex-column">
      <button type="button" class="btn btn-primary mb-2" (click)="addTextOpenDialog()">Add Text</button>
      <button type="button" class="btn btn-primary mb-2" (click)="addImageOpenDialog()">Add Image</button>
      <button type="button" class="btn btn-primary mb-2" (click)="addVideoOpenDialog()">Add Video</button>
      
    </div>
  </div>
    