.middle{
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 235, 235);
    text-align: center;
}

.head{
    text-align: center;
    background-color: yellowgreen;
    min-height: 100px;
}

.left{
 min-width: 200px;
 text-align: center;
 background-color: rgb(3, 7, 10);
 color: rgb(204, 226, 6);
}

.right{
    min-width: 200px;
    background-color: rgb(102, 9, 179);
    text-align: center;
}
.step{
    height: 50px;
    border: solid;
    border-width: thin;
    border-color: rgb(252, 249, 249);    
    display: flex;    
    justify-content: space-between; 
    align-items: center; 
}
.step:hover{
    background-color: rgb(88, 5, 109);
}