<form #contentForm ="ngForm" (ngSubmit)="onValidate()">
    <h1 mat-dialog-title>Add Text</h1>
    <div mat-dialog-content>  

        <div class="form-group" >  
            <label class="form-label">Text title</label>
            <mat-form-field style="display: block;">           
                    
                <input name="title" style="background-color: azure;" class="form-control" matInput [(ngModel)]="content.title">
            
            </mat-form-field>
        </div>

        <div class="form-group" *ngIf="content.type === 0"> 
            <label class="form-label">Write your text in the text area</label>
            <mat-form-field style="display: block;">

                <textarea name="text" matInput #text="ngModel" [class.is-invalid]="text.touched && text.invalid" required style="background-color: azure; height: 250px;" class="form-control" [(ngModel)]="content.text"></textarea>    
                <small class="text-danger" *ngIf="text.invalid && text.touched">The text is required</small>
            </mat-form-field>
        </div>

        <div class="form-group" *ngIf="content.type === 1"> 
            <label class="form-label">upload your image</label>
            

                <input name="file" type="file"   required  class="form-control" >  
                <small class="text-danger" *ngIf="false">The image is required</small>
            
        </div>

    </div>                                  
    <div mat-dialog-actions>
    <button type="button" mat-button (click)="onCancel()" class="btn btn-danger">Cancel</button>  
    <button type="submit" mat-button  class="btn btn-primary" [disabled]="contentForm.form.invalid">Add</button>  
    {{content | json}}    
    </div>
</form>

