<form #stepForm="ngForm" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title>Add Step</h2>
    <div mat-dialog-content>    
        <div class="form-group">
            <label class="form-label">step title:</label>
            <input name="stepTitle" class="form-control" type="text" required #stepTitleRef="ngModel" [(ngModel)]="stepTitle" [class.is-invalid]="stepTitleRef.errors?.['required'] && stepTitleRef.touched">           
            <small class="text-danger" *ngIf="stepTitleRef.errors?.['required'] && stepTitleRef.touched">step title is required</small>            
        </div>        
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-button (click)="onCancel()" class="btn btn-danger">Cancel</button>  
        <button type="submit" mat-button  class="btn btn-primary" [disabled]="stepForm.form.invalid">Add</button>        
    </div>    
</form>
